body {
    font-family: 'Sono', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 70px;
}

.pricing{
    flex: 1;
    max-width: 400px;
    padding: 20px;
    background-image: linear-gradient(rgb(178, 250, 171),rgb(162, 248, 230)) ;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 15px lightblue;
}

.title img{
    width: 200px;
    height:125px;
}

.price{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.features{
    list-style: none;
    padding-right: 50px;
    padding-bottom: 10px;
}

.button{
    background-color: rgb(130, 255, 238);
    border: none;
    box-shadow: 0.1px 0.1px 5px rgb(129, 128, 128);
    padding: 10px;
    border-radius: 7px;
    width: 300px;
    color: rgb(48, 38, 133);
}